html {
    font-size: 62.5%;
}

.flex-container,
footer .menu {
    display: flex;
}

.menu-flex {
    justify-content: space-between;
    padding: 1rem;
    border-top: 0.5rem solid #4b2828;
}

.inner-container {
    background-color: #090303;
}

.inner-container img {
    width: 19rem;
}

nav li a,
nav li a:after,
footer h3,
footer .menu li a,
footer .menu li a:after,
p {
    color: #f9e9d2;
}

nav li a,
nav li a:after {
    font-size: 2.1rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 0.1rem solid #966a57;
    padding: 2rem 0;
}

nav li:hover a:hover {
	color: #000000;
}

nav li,
footer .menu {
    background-position: center;
    transition: background 0.7s;
}

nav li:hover {
    background: #f9e9d2 radial-gradient(circle, transparent 1%, #f9e9d2 1%) center/15000%;
}

nav li:active {
  background-size: 100%;
  transition: background 0.7s;
}

.toggle-icon span {
    width: 6rem;
    height: 1rem;
    margin-bottom: 0.6rem;
    border-radius: 10rem;
    background-color: #f9e9d2;
    display: block;
    cursor: pointer;
}

/* default state of menu */


.off-canvas-menu {
    transition: all 1s ease-in-out;
}

.is-active .off-canvas-menu {
    top: 0;
    right: 0;
    transition: all 1s ease-in-out;
}

nav {
    min-width: 30rem;
    max-height: 0;
	overflow: hidden;
	transition: all 0.7s ease-in-out;
}

.is-active {
	max-height: 100vh;
}

.active-toggle {
	margin-top: 2rem;
}

.active-toggle span:first-child {
    position: absolute;
    transform: rotate(-45deg);
}	

.active-toggle span:last-child {
    transform: rotate(45deg);
}

.active-toggle span:nth-child(2) {
    display: none;
}

footer {
    background-color: #090303;
    position: relative;
    margin: 0 auto;
}

footer .menu {
	flex-wrap: wrap;
}

footer .menu li {
	margin: 0 auto;
	margin-bottom: 3rem;
}

footer > .flex-container {
	justify-content: space-between;
	flex-direction: column;
	padding: 5rem;
}

footer .menu li a {
	text-decoration: none;
	font-size: 2.1rem;
	margin-right: 2rem;
	font-family: 'Open Sans', sans-serif;
}

footer .menu li a:after {
	color: #39312c;
}

#nav_menu-2 {
    margin-top: 2rem;
    margin-left: 5rem;
}

.left img {
	width: 30rem;
	margin: 0 auto;
}

footer p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: fit-content;
}

footer div {
	margin: 3rem auto;
}

footer h3 {
    color: #f9e9d2;
    font-size: 2.4rem;
    font-family: 'Permanent Marker', cursive;
    width: fit-content;
}

.left h3 {
	margin: 4.5rem 0 3rem;
}

.right .copyright {
	margin-right: 2rem;
}

.right h3 {
	margin-bottom: 3rem;
}

.right img {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem
}

.right .flex-container {
	margin: 0 auto;
	width: fit-content;
}

.bottom-copyright {
	justify-content: space-between;
	padding-top: 3rem;
	border-top: 0.2rem solid #2d1515;
}

.bottom-copyright p {
	margin: 1rem 3rem 3rem 3rem;
}

.register-btn, 
.card .flex-container,
.entry-title,
.description h2 {
	font-family: 'Permanent Marker', cursive;
}

.card {
	background-color: #f9e9d2;
	width: 40rem;
	margin: 2rem auto;
}

.card-content,
.card-footer {
	padding: 1rem;
}

.card .flex-container {
	font-size: 1.6rem;
	justify-content: space-between;
}

.entry-title,
.description h2 {
	font-size: 3.6rem;
}

.card .flex-container,
.entry-title,
.entry-content p,
.description p,
.description h2 {
	color: #4b2828;
}

.description {
	margin: 0 2rem;
}

.description h2 {
	margin-top: 7rem;
	margin-bottom: 2.5rem;
}

.description p:last-of-type {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.card-flex-container {
	display: flex;
	flex-direction: column-reverse;
}

.card-heading {
	margin-bottom: 2rem;
}

.card-content p {
	color: #2d1616;
}

.card-content > p {
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
}

.entry-content p {
	font-size: 1.8rem;
}

.card-content p:nth-of-type(2),
li,
.description p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.left-content ul,
li {
	margin: 0;
}

li {
	list-style: none;
	font-size: 1.rem;
}

.left-content li {
	margin-right: 1rem;
	margin-left: 1rem;
}

.left-content .flex-container {
	justify-content: initial;
}

.card-hover {
	color: inherit;
	text-decoration: none;
}

.register-btn {
	background-color: #2d1616;
	color: #f9e9d2;
	text-decoration: none;
	font-size: 2.1rem;
	padding: 1rem;
	border-radius: 0.3rem;
	display: block;
	width: 17rem;
	text-align: center;
	margin: auto;
	margin-top: 4rem;
}

.class-details {
	background-color: #f9e9d2;
	width: 29rem;
	padding: 2rem;
	font-family: 'Open Sans', sans-serif;
	color: #573533;
}

.workshops h1 {
	margin: 3rem;
}

.workshops > .entry-content > .flex-container {
	margin: 3rem;
}

.page-content {
	margin-top: 3rem;
}

.page-content p {
	margin-bottom: 3rem;
}

.class-details .flex-container:nth-of-type(2) p:first-child,
.class-details .flex-container:nth-of-type(3) p:first-child{
	margin-right: 1rem;
}

/* images */

.aspect-ratio-box {
	position: relative;
	padding-top: calc( 400/ 600 * 100%);
	height: 0;
	overflow: hidden;
}

.aspect-ratio-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.single-img img {
	width: 25rem;
	height: 25rem
}

.page-content {
	width: 70rem;
}


@media only screen and (min-width: 600px) {
	.card-flex-container {
		flex-direction: row-reverse;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
	}
	.fw-container {
		margin: 0 auto;
	}
	.card {
		width: 30rem;
	}
}

@media only screen and (min-width: 800px) {
	.toggle-icon {
		display: none;
	}

	nav {
		max-height: 13rem;
	}

	nav li a,
	.menu-flex {
		border: none;
	}

	nav li {
		margin-right: 2rem;
	}

	.inner-container,
	.menu-item {
		display: flex;
	}

	.inner-container {
		justify-content: space-between;
		padding-right: 1rem;
		border-top: 0.5rem solid #4b2828;
	}

	nav li:hover {
		background: none;

	}

	nav li a {
		padding: 0;
		margin-top: 2rem;
	}

	nav li:hover a:hover,
	footer .menu li:hover a:hover {
		color: #f9e9d2;
		border-bottom: 0.1rem solid #f9e9d2;
		padding-bottom: 0;
	}
	.inner-container img {
        width: 29rem;
    }

    footer > .flex-container {
    	padding: 5rem, 2rem;
    	flex-direction: row;
    }

    footer img {
		width: 37rem;
	}

	.left img {
		margin: initial;
	}

	.single-img img {
		width: 50rem;
		height: 50rem
	}

}

@media only screen and (min-width: 1200px) {
	.fw-container {
		width: 95rem;
	}
	.inner-container {
		padding: 0 16rem;
	}

	footer > .flex-container {
        padding: 6rem 16rem 1rem 16rem;
    }

}